.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 20px;
    height: 20px;
    border: 5px solid #007bff; /* Blue color */
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    display: block !important;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  