:root {
  --color-border: "";
  --color-width: "";
  --color-animation: "";
  --width-smallbox: "";
  --height-smallbox: "";
  --text-color: "";
  --bottom-css: "";
  --row-position: "";
  --padding-x: "";
  --padding-y: "";
  --grid-gap: "";
  --f22-display: "";
  --f22-bottom-color: "";
  --f22-bottom-background: "";
  --largecontainer-width: "";
  --largecontainer-height: "";
  --buttonloadanimation: "";
  --progressbarcolor: "";
  --progressbarheight: "";
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  width: var(--largecontainer-width);
  height: var(--largecontainer-height);

  position: fixed;
  bottom: 10px;
  /* right: 10px; */
  border-radius: 10px;
  z-index: 10000;
  background-color: black;
  isolation: isolate;
  z-index: 100;
}

.video-container-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  isolation: isolate;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -10px 4px 65px 0px rgba(0, 0, 0, 0.1);
  isolation: isolate;
}
.full {
  width: 100%;
}
.overlay-thing {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.1);
   z-index: 2147483645;
}
.playbar {
  z-index: 10000;
  position: absolute;
  top: 1px;
  width: 100%;
  overflow: hidden;
  padding: 0px 2px;
  margin-top: 6px;
  display: grid;
  grid-gap: 4px;
}

.playbarinline {
  background-color: white;
  height: 2px;
  width: 100%;
  display: block !important;
  transform-origin: left;
  transition: transform 0.1s linear;
  position: absolute;
  top: 0;
  left: 0;
}

.playbarinline__wrapper {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}


.contain {
  transform: scaleX(1) !important;
}

.playbarinline__background {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 2px;
  display: block !important;
  border-radius: 25px;
}

.video-box{
  /* background-color: red; */
  position: fixed;
  z-index: 2147483646;
  /* width: 456.609px; */
  height: 535.200px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.video-box video {
  width: 100%;
  max-width: 440px;
  height: fit-content;
  max-height: 100%;
}
/* .flexiblebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  isolation: isolate;
}

.overlay-thing-button {
  display: flex;
  align-items: center;
  padding: var(--padding-y) var(--padding-x);
  border-radius: 20px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  font-size: 12px !important ;
  width: 100%;
  text-align: left;
  isolation: isolate;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.large-container-buttonparent {
  position: absolute;
  bottom: var(--bottom-css);
  width: 100%;
  padding: 20px !important;
  isolation: isolate;
  display: var(--f22-display);
  grid-template-columns: var(--row-position);
  grid-gap: var(--grid-gap);
} */

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.small-video-container-box-parent {
  width: calc(150px + 18px);
  height: calc(200px + 18px);
  position: fixed;
  isolation: isolate;
  visibility: visible;
  z-index: 2147483647;
}

.smsmsmhidden {
  visibility: hidden;
}
.small-video-container-box {
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  width: 200.55px;
  height: 356.533px;
  z-index: 100;
  border-radius: 50%;
  isolation: isolate;
  position: absolute;
  bottom: 50px;
  right: 60px;
  z-index: 2147483647;
  transform: translate(0px, 0px);
  box-shadow: rgb(176, 176, 176) 0px 0px 10px 3px;
    border-radius: 10px;
}

.pageloadanimation {
  animation: var(--buttonloadanimation) 0.9s ease-out;
  animation-iteration-count: 2;
}

video {
  width: 200.55px;
  height: 356.533px;
  box-shadow: rgb(176, 176, 176) 0px 0px 10px 3px;
  border-radius: 10px;
}
.close-button {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  isolation: isolate;
}

.cls-sm {
  height: 20px;
  width: 20px;
  top: -5px;
  padding: 5px;
}

.widgetheader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: var(--text-color);
  font-family: sans-serif;
  text-shadow: 1px 1px #000;
  cursor: pointer;
}
/* naturallyyours */
.sm-video {
  z-index: 1;
}

.lg-credit {
  color: white;
  position: absolute;
  bottom: 0 !important ;
  width: 100% !important ;
  text-align: center;
  font-size: 10px !important ;
  font-family: sans-serif;
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lg-credit a:hover {
  color: #fff;
}

/* :not(:root):fullscreen {
 z-index: -1;
} */
/* :not(:root):fullscreen::backdrop{
  background-color: transparent;
 
}


:not(:root):fullscreen {
  z-index: -1  !important ;
} */

.video-size {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.mutedbutton {
  position: absolute;
  bottom: 28px;
  top: 0;
  z-index: 1;
  left: 10px;
  width: fit-content;
  height: fit-content;
  opacity: 1;
  background: transparent;
  border: none;
  pointer-events: none;
}
.mutedbutton svg {
  padding-top: 10px;
  padding-left: 5px;
  width: fit-content;
  width: 4rem;
  height: 2.9rem;
  /* height: 100%; */
  fill: white;
  pointer-events: fill;
}

.replay {
  left: 80px;
}

.replay svg {
  width: 3rem;
}

/* @media only screen and (max-width: 1440px) {
 
} */

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.brick {
  position: absolute;
  bottom: 10px;

  z-index: 1;
  right: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 1;
  /* background: transparent; */
  border: none;
}

.brick h1 {
  font-size: 1.2rem;
}

/* hamburger */






/*  player */
.playbar {
  z-index: 99;
  position: absolute;
  top: 1px;
  width: 100%;
  overflow: hidden;
  /* height: 10px; */
  /* background-color: black; */
}

.muteop{
  position: absolute;
    right: 40px;
    top: 20px;
    z-index: 2147483647;
  }

.crossiconop{
  
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2147483647;

}

.icons{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.buttonDiv{
  position: absolute;
  top: 40%;
  left: 30%;
}

.buttonStyle{
  cursor: pointer;
  background-color: transparent;
  /* size: 30px; */
  border: none;
}